main {
  background-image: url("../img/sari-chelek-mice-708.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero {
  padding: 200px 0;
}
.hero h1 {
  text-align: center;
}
.section__1 {
  margin-top: 35px;
  padding: 15px 40px;
}
.section__1 h1,
p {
  text-align: center;
}
.section__1 p {
  font-size: 22px;
}
